@import url("https://fonts.googleapis.com/css?family=Oxygen:400,700");
body {
  margin: 0;
  padding-bottom: 8rem;
  background: url("/bg.jpg") no-repeat center fixed;
  font-family: "Oxygen", sans-serif;
  font-size: 16px;
  color: #4c5d78;
  text-align: center;
  z-index: 0; }

.pages {
  position: relative;
  padding: 1rem 1rem 1.5rem 1rem;
  width: 80%;
  max-width: 55rem;
  background-color: rgba(255, 248, 250, 0.7);
  transform: translateY(4rem); }
  .pages * {
    animation: fade-entrance 0.5s ease-in-out; }

@keyframes fade-entrance {
  from {
    opacity: 0;
    transform: translateY(1rem); }
  to {
    opacity: 1;
    transform: none; } }
nav {
  background-color: rgba(232, 241, 252, 0.7); }
  nav ul a {
    font-weight: bold;
    color: #6675ac; }
    nav ul a:hover {
      color: #4c5d78; }
  nav .brand-logo {
    left: 1rem;
    color: #6675ac;
    font-weight: bold; }
    nav .brand-logo:hover {
      color: #4c5d78;
      transition: color 0.3s ease; }
    @media only screen and (max-width: 992px) {
      nav .brand-logo {
        left: 50%;
        transform: translateX(-50%); } }
  nav .material-icons {
    color: #6675ac; }
    nav .material-icons:hover {
      color: #4c5d78;
      transition: color 0.3s ease; }

.heading {
  font-size: 2.5rem;
  line-height: 3rem;
  max-width: 20rem;
  width: 80%;
  margin: 3rem auto 1.5rem auto;
  font-weight: bold; }

a {
  color: #6675ac;
  cursor: pointer; }
  a:hover {
    color: #91b8e3;
    transition: color 0.3s ease; }

.form-style {
  max-width: 55rem;
  padding: 3rem; }
  .form-style input:focus:not([readonly]) {
    border-bottom: 1px solid #6675ac;
    box-shadow: 0 1px 0 0 #6675ac; }
  .form-style .btn {
    margin-top: 1rem; }

.btn {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0 1.2rem;
  border-radius: 0.5rem;
  text-transform: none;
  background-color: #6675ac; }
  .btn:hover, .btn:focus {
    background-color: #91b8e3; }

.side-auto-margin, .pages, .form-style, .caption, .board--container, .post--container .post--card, .post--header, .comment--container .comment--card {
  margin-left: auto;
  margin-right: auto; }

.caption {
  margin-bottom: 3rem;
  width: 80%; }

.card {
  text-align: left; }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #6675ac;
  text-transform: none;
  margin: 0; }
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover {
    color: #91b8e3;
    transition: color 0.3s ease; }

.modal .modal-footer .form-style {
  padding: 0; }
.modal .modal-footer .btn {
  margin: 0 0 1rem 1.5rem; }

.board--container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 55rem; }
  .board--container .board--card {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-color: #E8F1FC;
    text-align: center;
    margin: 1.5rem; }
    .board--container .board--card:hover {
      box-shadow: 0 3px 2px 1px rgba(0, 0, 0, 0.14), 0 2px 5px 1px rgba(0, 0, 0, 0.12), 0 4px 1px -1px rgba(0, 0, 0, 0.2); }
    .board--container .board--card .board__title {
      font-size: 1.3rem;
      margin-bottom: 0.5rem; }
    .board--container .board--card .card-content {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }

.post--container {
  margin: 3rem 0; }
  .post--container .post--card {
    max-width: 32rem;
    width: 80%;
    margin-top: 2rem;
    background-color: transparent;
    box-shadow: none; }
    .post--container .post--card .card-content {
      background-color: #E8F1FC;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      margin-bottom: 0.1rem;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem; }
    .post--container .post--card .card-action {
      padding-top: 0.3rem;
      padding-bottom: 0; }
    .post--container .post--card .post--title {
      font-weight: bold; }

.post-details, .comment--container .comment--card .comment-details {
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-transform: none;
  color: rgba(100, 100, 100, 0.9); }
  .post-details p, .comment--container .comment--card .comment-details p {
    margin: 0; }

.post--header {
  margin-top: 5rem;
  margin-bottom: 2rem;
  max-width: 32rem;
  width: 80%;
  background-color: #E8F1FC; }

.comment--container {
  margin: 3rem 0; }
  .comment--container .comment--card {
    background-color: transparent;
    margin-top: 2rem;
    max-width: 32rem;
    width: 80%;
    box-shadow: none; }
    .comment--container .comment--card .card-content {
      background-color: white;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
      margin-bottom: 0.1rem;
      padding-top: 1.3rem;
      padding-bottom: 1.3rem; }
    .comment--container .comment--card .card-action {
      padding-top: 0.7rem;
      padding-bottom: 0; }
    .comment--container .comment--card .ud-comment {
      font-size: 0.8rem; }

.modal {
  padding: 1rem; }

.return-button {
  position: absolute;
  top: 1.5rem;
  left: 1rem; }

/*# sourceMappingURL=index.css.map */
