@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');

$heading--margin: 3rem auto 1.5rem auto;
$max--width: 55rem;
$card--width: 32rem;
$default-font--color: #4c5d78;
$alt-text--color: #6675ac;
$alt-hover--color: #91b8e3;
$item--color: #E8F1FC;
$item--color-transparent: rgba(232, 241, 252, 0.7);
$background--color: rgba(255, 248, 250, 0.7);
$comment--color: white;
$transition-speed: color .3s ease;

body {
     margin: 0;
     padding-bottom: 8rem;
     background: url('/bg.jpg') no-repeat center fixed;
     font-family: "Oxygen", sans-serif;
     font-size: 16px;
     color: $default-font--color;
     text-align: center;
     z-index: 0;
}

.pages {
     position: relative;
     padding: 1rem 1rem 1.5rem 1rem;
     @extend .side-auto-margin;
     width: 80%;
     max-width: $max--width;
     background-color: $background--color;
     transform: translateY(4rem);
     *{
          animation: fade-entrance 0.5s ease-in-out;
     }

}

@keyframes fade-entrance {
     from {
          opacity: 0;
          transform: translateY(1rem);
     }
     to {
          opacity: 1;
          transform: none;
     }
}

nav {
     background-color: $item--color-transparent;
     ul a{
          font-weight: bold;
          color: $alt-text--color;
          &:hover {
               color: $default-font--color;
          }
     }

     .brand-logo {
          left: 1rem;
          color: $alt-text--color;
          font-weight: bold;
          &:hover {
               color: $default-font--color;
               transition: $transition-speed;
          }
          @media only screen and (max-width: 992px) {
               left: 50%;
               transform: translateX(-50%);
          }
     }

     .material-icons {
          color: $alt-text--color;
          &:hover {
               color: $default-font--color;
               transition: $transition-speed;
          }
     }
}

.heading {
     font-size: 2.5rem;
     line-height: 3rem;
     max-width: 20rem;
     width: 80%;
     margin: $heading--margin;
     font-weight: bold;
}

a {
     color: $alt-text--color;
     cursor: pointer;
     &:hover {
          color: $alt-hover--color;
          transition: $transition-speed;
     }
}

.form-style {
     @extend .side-auto-margin;
     max-width: $max--width;
     padding: 3rem;
     input:focus:not([readonly]) {
          border-bottom: 1px solid $alt-text--color;
          box-shadow: 0 1px 0 0 $alt-text--color;
     }
     .btn {
          margin-top: 1rem;
     }
}

.btn {
     margin-left: 1rem;
     margin-right: 1rem;
     padding: 0 1.2rem;
     border-radius: 0.5rem;
     text-transform: none;
     background-color: $alt-text--color;
     &:hover, &:focus {
          background-color: $alt-hover--color;
     }
}

.side-auto-margin {
     margin-left: auto;
     margin-right: auto;
}

.caption {
     margin-bottom: 3rem;
     width: 80%;
     @extend .side-auto-margin;
}

.card {
     text-align: left;
}

.card {
     .card-action {
          a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
               color: $alt-text--color;
               text-transform: none;
               margin: 0;
               &:hover {
                    color: $alt-hover--color;
                    transition: $transition-speed;
               }
          }
     }
}

.modal {
     .modal-footer {
          .form-style {
               padding: 0;
          }
          .btn {
               margin: 0 0 1rem 1.5rem;
          }
     }
}

// home page

.board--container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     @extend .side-auto-margin;
     max-width: $max--width;

     .board--card {
          width: 13rem;
          height: 13rem;
          border-radius: 50%;
          background-color: $item--color;
          text-align: center;
          margin: 1.5rem;

          &:hover{
               box-shadow: 0 3px 2px 1px rgba(0,0,0,0.14),
                    0 2px 5px 1px rgba(0,0,0,0.12),
                    0 4px 1px -1px rgba(0,0,0,0.2);
          }

          .board__title {
               font-size: 1.3rem;
               margin-bottom: 0.5rem;
          }

          .card-content{
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
          }
     }
}

// post cards

.post--container {
     margin: 3rem 0;

     .post--card {
          max-width: $card--width;
          width: 80%;
          @extend .side-auto-margin;
          margin-top: 2rem;
          background-color: transparent;
          box-shadow: none;

          .card-content {
               $c: &;
               background-color: $item--color;
               box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
               margin-bottom: 0.1rem;
               padding-top: 1.3rem;
               padding-bottom: 1.3rem;
          }

          .card-action {
               padding-top: 0.3rem;
               padding-bottom: 0;
          }

          .post--title {
               font-weight: bold;
          }
     }
}

.post-details {
     font-size: 0.8rem;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     text-transform: none;
     color: rgba(100,100,100,0.9);
     p {
          margin: 0;
     }
}

// post page

.post--header {
     margin-top: 5rem;
     margin-bottom: 2rem;
     max-width: $card--width;
     width: 80%;
     @extend .side-auto-margin;
     background-color: $item--color;
}

.comment--container {
     margin: 3rem 0;

     .comment--card {
          background-color: transparent;
          margin-top: 2rem;
          max-width: $card--width;
          width: 80%;
          @extend .side-auto-margin;
          box-shadow: none;

          .card-content {
               background-color: $comment--color;
               box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
               margin-bottom: 0.1rem;
               padding-top: 1.3rem;
               padding-bottom: 1.3rem;
          }

          .card-action {
               padding-top: 0.7rem;
               padding-bottom: 0;
          }

          .comment-details {
               @extend .post-details;
          }

          .ud-comment {
               font-size: 0.8rem;
          }
     }
}

.modal {
     padding: 1rem;
}

.return-button {
     position: absolute;
     top: 1.5rem;
     left: 1rem;
}